{% extends TEMPLATE_BASE %}

{% block js %}
<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}underscore-min.js" type="application/javascript"></script>
<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}jquery-jtemplates.js" type="application/javascript"></script>
<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}jquery.json.min.js" type="application/javascript"></script>

<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}jscrypto/jsbn.js" type="application/javascript"></script>
<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}jscrypto/jsbn2.js" type="application/javascript"></script>
<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}jscrypto/sjcl.js" type="application/javascript"></script>

<script language="javascript">
  // required for jscrypto library
  var JSCRYPTO_HOME = "{{ settings.HELIOS_CRYPTO_STATIC_URL }}/jscrypto";
</script>

<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}jscrypto/class.js" type="application/javascript"></script>
<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}jscrypto/bigint.js" type="application/javascript"></script>
<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}jscrypto/random.js" type="application/javascript"></script>
<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}jscrypto/elgamal.js" type="application/javascript"></script>
<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}jscrypto/sha1.js" type="application/javascript"></script>
<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}jscrypto/sha2.js" type="application/javascript"></script>
<script language="javascript" src="{{ settings.HELIOS_CRYPTO_STATIC_URL }}jscrypto/helios.js" type="application/javascript"></script>
{% endblock %}


